nav {
  width: 960px;
  position: relative;
  margin: 0 auto;
  width: 100%;
}

ul li {
	position: relative;
  list-style: none;
  text-align: center;
  font-family: "Poppins";
  float:left;
}

ul li .lit {
	position: relative;
  text-decoration: none;
  line-height: 1em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: transparent;
}

ul li .lit::before {
	content: attr(data-text);
  position: absolute;
  color: var(--main-color);
  width: 0%;
  overflow: hidden;
  transition: 1s;
}

ul li a:hover::before {
	width: 100%;
  filter: drop-shadow(0 0 35px var(--main-color));
}